*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-image: url("Imagenes/fondo-inventario.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
td, th{
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  border: 1px solid;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  width: 174px;
}
th{
  font-size: 16.5px;
  background: rgba(0,0,1,0.2);
}
.tabla{
  border: 1px solid;
  background: white;
  position: absolute;
  border-color: white;
  height: 583px;
  width: 1050px;
  top: 40px;
  left: 155px;
}
.tablaIN{
  position: relative;
  font-size: 14px;
  border: 2px solid;
  border-color: white;
  display: block;
  height: 273px;
  width: 902px;
  top: 50px;
  left: 75px;
  overflow-y: scroll;
}
#h1I{
  display: inline-block;
  position: relative;
  height: 50px;
  width: 400px;
  top: 40px;
  left: 80px;
}
.url{
  overflow-x: hidden;
}
.tabla h3{
  display: inline-block;
  position: relative;
  height: 20px;
  width: 350px;
  top: 20px;
  left: 180px;
}
.insertar{
  position: relative;
  height: 150px;
  width: 920px;
  top: 50px;
  left: 30px;
}
.insertar td{
  display: inline-block;
  text-align: center;
  position: relative;
  border: 1px solid;
  height: 70px;
  width: 174px;
  top: 30px;
  left: 45px;
}
.insertar input{
  display: inline-block;
  text-align: center;
  position: relative;
  border: none;
  border-bottom: 1px solid;
  height: 30px;
  width: 150px;
  top: 2px;
}
.busqueda{
  position: relative;
  top: 35px;
  left: 355px;
  display: inline-block;
  height: 40px;
}
#searchTerm{
  position: relative;
  border-left: none;
  left: -4px;
  padding-left: 4px;
  height: 26px;
  margin: none;
  border-radius: 0 0.25rem 0.25rem 0;
}
.Bicon{
  display: inline-block;
  color: white;
  background: rgba(0,0,1,0.4);
  padding: 3px 3px 3px 8px;
  border: none;
  border-radius: 10rem 0 0 10rem;
}
#continuar{
  position: relative;
  left: 585px;
  top: 30px;
  padding: 15px 25px 30px 25px;
  height: 15px;
  width: 110px;

}
label{
  color: black;
  display: inline-block;
  position: relative;
  top: 30px;
  left: 585px;
  padding: 15px 0px 15px 25px;
  cursor: pointer;
  font-size: 14px;
  height: 15px;
  width: 100px;
  border: 1px solid;
  transition: all 0.3s ease;
}
label:hover{
  background: rgba(0,0,1,0.2);
}

label::before{
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  background: none;
  border: 1px solid black;
  border-radius: 50px;
  position: relative;
  right: 13px;
}
input[type="checkbox"]{
  display: none;
}
input[type="checkbox"]:checked + label:before{
    background: black;
}
